.dashboard-container{
    min-height: 100vh;
    width: 100vw;
    background-color: $IrfcBlack;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo-container{

        img{
            width: 150px;
            padding: 10px !important;
        }
    }


    .dashboard-options-container{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        align-items: center;
        width: 100vw;

        .option{
            font-family: $HeadingFont;
            color: $IrfcYellow;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 25px;
            width: 80%;
            margin-top: 15px;
            
            &:hover{
                cursor: pointer;
            }

            i{
                font-size: 40px;
                padding: 20px 0;
            }
        }

        #option-3{
            display: none;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

    .dashboard-options-container{
        display: flex;
        flex-direction: row !important;
        padding: 50px 0 !important;
    }
    .option{
        font-size: 30px !important;
        width: 80%;
        margin-top: 15px;
        
     

        i{
            font-size: 70px !important;
            padding: 40px 0 !important;
        }
    }


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .dashboard-container{
        height: 100vh;
        width: 100vw;
        background-color: $IrfcBlack;
        overflow: hidden;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo-container{
            
            img{
                width: 200px;
            }
        }
    
        .dashboard-options-container{
    
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 0;
            align-items: center;
            width: 90vw;
            margin: 0 auto;
    
            .option{
                font-family: $HeadingFont;
                color: $IrfcYellow;
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 30px !important;
                width: 30%;
                
                &:hover{
                    cursor: pointer;
                }
    
                i{
                    font-size: 90px;
                    padding: 40px 0;
                }
            }

            #option-3{
                display: flex;
            }
        }
    }
 }
