@import "../globals/mixins.scss";

.login-page-container{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color:$IrfcBlack;
  .video-container{
    video{
      display: none;
    }
    .video-overlay{
      display: none;
    }
    .login-form-container{
      z-index: 3;
      margin: 0;
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
      form{
        border-radius: 5px;
        padding: 0;
        @include box-shadow();
        .logo-container{
          text-align: center;
          display: flex;
          justify-content: center;
          overflow: hidden;
          img{
          }
        }
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color:$IrfcBlack;
        padding: 0;

        input{
          margin: 0;
          border-style: none;
          height: 50px;
          padding: 0 20px;
          @include input-reset();
        }
        button{
          background-color: $IrfcYellow;
          @include input-reset();
          @include box-shadow();
        }
        .helper-links{
          display: flex;
          flex-direction: column;
          a{
            color: $IrfcYellow;
            margin: 5px 0;
            font-family: 'Roboto', sans-serif;
            &:hover{
              text-decoration:none;
            }
          }
        }
      }
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){ 
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){ 
  .login-page-container{
    .video-container{
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      video{
        display: block;
        min-width: 120vw;
        min-height: 130vh;
        margin-top: -75px;
        z-index: 1;
      }
      .video-overlay{
        display: block;
        top: 0%;
        opacity: 0.5;
        min-height: 100vh;
        width: 100vw;
        position: absolute;
        background-color: $IrfcBlack;
        z-index: 2;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){ 

}
