.nav-menu-outer{
    transition-duration: 300ms;
    height: 100vh;
    width: 100vw;
    background-color: $IrfcBlack;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 98;
    position: absolute;
    box-shadow: none;
    box-shadow: 10px 0px 20px black;

    .menu-indicator{
        display: none;
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 60%;
        
    
        

        li{
            text-align: center;
            margin: auto;

            a{
                font-family: $HeadingFont;
                color: $IrfcYellow;
                font-size: 25px;
                
            }
        }
    }
}



 .burger-menu{
     transition-duration: 300ms;
     position: absolute;
     height: 50px;
     width: 70px;
     top: 0;
     right: 0;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin-top: 25px;
     margin-right: 25px;
     z-index: 99;
     overflow: hidden;

     &:hover{
         cursor: pointer;
     }
     .burger-bar{
         height: 5px;
         background-color: $IrfcYellow;
         width: 50px;
         margin: auto;
     }
     #burger-menu-top{
         transform-origin:  center;
         transition-duration: 300ms;
     }
     #burger-menu-bottom{
         transform-origin:center;
         transition-duration: 300ms;
     }
 }



// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

    .burger-menu{
        display: none;
    }

    .nav-menu-outer{
        position: absolute;
        overflow: visible;
        left: 0;
        display: block !important;
        width: 50px;
        height: 100vh;
        background-color: $IrfcBlack;
        transition-duration: 300ms;
        box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
        

        &:hover{
            width: 300px;
            transition-duration: 300ms;

            ul{
                transition-duration: 300ms;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
               
                
            }

            .menu-indicator{
                left: 250px ;
                transition-duration: 300ms;
                transform: rotatez(180deg);
                
            }
        }

        ul{
            display: none;
            height: 40%;
            padding: 20px 0;

            li{
                text-align: left !important;
                width: 70%;
                padding: 15px 0;
            }
        }
        

        .menu-indicator{
            display: block;
            position: absolute;
            top: 44vh;
            left: 0;
            overflow: hidden;
            margin-left: 10px;
            transition-duration: 300ms;
            background-color: $IrfcBlack;
            border-radius: 100%;
            border: 3px solid $IrfcBlack;
            
            i{
                font-size: 75px;
                color: $IrfcYellow;
                
            }
        }


    }

}