@import './assets/scss/globals/variables.scss';
@import './assets/scss/globals/mixins.scss';


// Medium devices (tablets, 768px and up)
@media screen and (max-width: 768px)  {
  .register-form{
    background-color: $background-darker;
    height:80vh;
    background-color: red;
  }
}


.register-form-container{
  background-color: $background-darker;
  margin: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  .logo-container{
    height: 250px;
    width: 100%;
    }
  .register-form{
    height: 100vh;
    background-color: $background-darker;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
    margin: auto 0;
    .Register-input{
      @include login-input;
      margin: auto;
    }
  }
  button{
    background-color: $dark-yellow;
  }
}
