html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  margin: 0;
  padding: 0; }

.fluid-container {
  margin: 0;
  padding: 0; }

.login-page-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #353B48; }
  .login-page-container .video-container video {
    display: none; }
  .login-page-container .video-container .video-overlay {
    display: none; }
  .login-page-container .video-container .login-form-container {
    z-index: 3;
    margin: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center; }
    .login-page-container .video-container .login-form-container form {
      border-radius: 5px;
      padding: 0;
      box-shadow: 5px 5px rgba(44, 62, 80, 0.3);
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: #353B48;
      padding: 0; }
      .login-page-container .video-container .login-form-container form .logo-container {
        text-align: center;
        display: flex;
        justify-content: center;
        overflow: hidden; }
      .login-page-container .video-container .login-form-container form input {
        margin: 0;
        border-style: none;
        height: 50px;
        padding: 0 20px;
        height: 50px;
        border: 0;
        padding: 0 15px;
        outline: 0;
        border-radius: 0;
        font-family: 'Oswald', sans-serif;
        margin: 10px 0px; }
      .login-page-container .video-container .login-form-container form button {
        background-color: #E1B12C;
        height: 50px;
        border: 0;
        padding: 0 15px;
        outline: 0;
        border-radius: 0;
        font-family: 'Oswald', sans-serif;
        margin: 10px 0px;
        box-shadow: 5px 5px rgba(44, 62, 80, 0.3); }
      .login-page-container .video-container .login-form-container form .helper-links {
        display: flex;
        flex-direction: column; }
        .login-page-container .video-container .login-form-container form .helper-links a {
          color: #E1B12C;
          margin: 5px 0;
          font-family: 'Roboto', sans-serif; }
          .login-page-container .video-container .login-form-container form .helper-links a:hover {
            text-decoration: none; }

@media (min-width: 768px) {
  .login-page-container .video-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden; }
    .login-page-container .video-container video {
      display: block;
      min-width: 120vw;
      min-height: 130vh;
      margin-top: -75px;
      z-index: 1; }
    .login-page-container .video-container .video-overlay {
      display: block;
      top: 0%;
      opacity: 0.5;
      min-height: 100vh;
      width: 100vw;
      position: absolute;
      background-color: #353B48;
      z-index: 2; } }

.nav-menu-outer {
  right: 200vw;
  transition-duration: 300ms;
  height: 100vh;
  width: 100vw;
  background-color: #353B48;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 98;
  position: fixed;
  top: 0;
  box-shadow: none;
  box-shadow: 10px 0px 20px black; }
  .nav-menu-outer .menu-indicator {
    display: none; }
  .nav-menu-outer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 60%; }
    .nav-menu-outer ul li {
      text-align: center;
      margin: auto; }
      .nav-menu-outer ul li a {
        font-family: "Oswald", sans-serif;
        color: #E1B12C;
        font-size: 25px; }

.burger-menu {
  transition-duration: 300ms;
  position: fixed;
  height: 50px;
  width: 70px;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  margin-right: 25px;
  z-index: 99;
  overflow: hidden; }
  .burger-menu:hover {
    cursor: pointer; }
  .burger-menu .burger-bar {
    height: 5px;
    background-color: #E1B12C;
    width: 50px;
    margin: auto; }
  .burger-menu #burger-menu-top {
    transform-origin: center;
    transition-duration: 300ms; }
  .burger-menu #burger-menu-bottom {
    transform-origin: center;
    transition-duration: 300ms; }

@media (min-width: 768px) {
  .logo-container img {
    width: 200px !important; } }

@media (min-width: 992px) {
  .burger-menu {
    display: none; }
  .nav-menu-outer {
    position: absolute;
    overflow: visible;
    left: 0;
    display: block !important;
    width: 50px;
    height: 100vh;
    background-color: #353B48;
    transition-duration: 300ms;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2); }
    .nav-menu-outer:hover {
      width: 300px;
      transition-duration: 300ms; }
      .nav-menu-outer:hover ul {
        transition-duration: 300ms;
        display: flex;
        justify-content: space-around;
        flex-direction: column; }
      .nav-menu-outer:hover .menu-indicator {
        left: 250px;
        transition-duration: 300ms;
        transform: rotatez(180deg); }
    .nav-menu-outer ul {
      display: none;
      height: 40%;
      margin-top: 100px; }
      .nav-menu-outer ul li {
        transition-duration: 300ms;
        text-align: left !important;
        width: 70%;
        padding: 15px 0; }
    .nav-menu-outer .menu-indicator {
      display: block;
      position: absolute;
      top: 44vh;
      left: 0;
      overflow: hidden;
      margin-left: 10px;
      transition-duration: 300ms;
      background-color: #353B48;
      border-radius: 100%;
      border: 3px solid #353B48; }
      .nav-menu-outer .menu-indicator i {
        font-size: 75px;
        color: #E1B12C; } }

.dashboard-container {
  min-height: 100vh;
  width: 100vw;
  background-color: #353B48;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .dashboard-container .logo-container img {
    width: 150px;
    padding: 10px !important; }
  .dashboard-container .dashboard-options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
    width: 100vw; }
    .dashboard-container .dashboard-options-container .option {
      font-family: "Oswald", sans-serif;
      color: #E1B12C;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 25px;
      width: 80%;
      margin-top: 15px; }
      .dashboard-container .dashboard-options-container .option:hover {
        cursor: pointer; }
      .dashboard-container .dashboard-options-container .option i {
        font-size: 40px;
        padding: 20px 0; }
    .dashboard-container .dashboard-options-container #option-3 {
      display: none; }

@media (min-width: 768px) {
  .dashboard-options-container {
    display: flex;
    flex-direction: row !important;
    padding: 50px 0 !important; }
  .option {
    font-size: 30px !important;
    width: 80%;
    margin-top: 15px; }
    .option i {
      font-size: 70px !important;
      padding: 40px 0 !important; } }

@media (min-width: 992px) {
  .dashboard-container {
    height: 100vh;
    width: 100vw;
    background-color: #353B48;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .dashboard-container .logo-container img {
      width: 200px; }
    .dashboard-container .dashboard-options-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0;
      align-items: center;
      width: 90vw;
      margin: 0 auto; }
      .dashboard-container .dashboard-options-container .option {
        font-family: "Oswald", sans-serif;
        color: #E1B12C;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 30px !important;
        width: 30%; }
        .dashboard-container .dashboard-options-container .option:hover {
          cursor: pointer; }
        .dashboard-container .dashboard-options-container .option i {
          font-size: 90px;
          padding: 40px 0; }
      .dashboard-container .dashboard-options-container #option-3 {
        display: flex; } }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif; }

p {
  font-family: 'Roboto', sans-serif; }
