.floater-alert{
  z-index: 10;
  width: 95%;
  margin: 0 2.5%;
  margin-top: 45vh;
  padding: 0;
  text-align: center;
  position: absolute!important;
}
.alert{
  overflow: hidden;
  position: absolute !important;

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
  .floater-alert{
    z-index: 10;
    width: 50%;
    margin: 0 25%;
    padding: 0;
    margin-top: 50vh;
    position: absolute!important;
  }
}
